<section id="login">
  <div class="card card-padding">
    <img src="/assets/logo.png" alt="Logo empresa" />
    <h1>Bienvenido</h1>
    <form class="form-auth" [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <div class="form-controls">
        <div class="form-control">
          <input
            type="email"
            name="email"
            placeholder="Correo"
            formControlName="email"
            [ngClass]="{
              'form-control-err': _formValidation.errorFormForValue('email')
            }"
          />
          <label for="email">Correo</label>
          <small id="email" *ngIf="_formValidation.errorFormForValue('email')"
            >Es Obligatorio este campo.
          </small>
        </div>
        <div class="form-control">
          <input
            type="password"
            name="password"
            placeholder="Contraseña"
            formControlName="password"
            [ngClass]="{
              'form-control-err': _formValidation.errorFormForValue('password')
            }"
          />
          <label for="password">Contraseña</label>
          <small
            id="password"
            *ngIf="_formValidation.errorFormForValue('password')"
            >Es Obligatorio este campo.
          </small>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
  </div>
</section>
