<header
  [ngClass]="{ 'active-sidebar-content': toggleSidebar.toggleValue | async }"
>
  <div class="card">
    <div class="left-content">
      <span class="material-icons-outlined" (click)="changeStatusSidebar()">
        menu</span
      >
      <div class="logo"><img src="/assets/logo.png" alt="" /></div>
    </div>
    <div class="right-content">
      <div class="theme">
        <span
          class="material-icons-outlined active"
          (click)="updateTheme('light')"
          >light_mode</span
        >
        <span class="material-icons-outlined" (click)="updateTheme('dark')"
          >dark_mode</span
        >
      </div>
      <div class="info">
        <p>Hola, Kaela McGlynn Johns</p>
        <div class="profile"><img src="/assets/profile-4.jpg" alt="" /></div>
      </div>
    </div>
  </div>
</header>
