@import "../../../shared/_variables";

header {
  position: fixed;
  top: 25px;
  left: 30px;
  right: 30px;
  transition: left 300ms ease-out;
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 0px 20px;
  }
}

.left-content {
  display: flex;
  align-items: center;
  gap: 10px;
  .logo {
    width: 100px;
    padding: 20px 0;
  }
  span {
    font-size: 40px !important;
  }
}
.right-content {
  display: flex;
  gap: 15px;
  align-items: center;
  .theme {
    span {
      background-color: $color-light;
      border-radius: 5px;
      padding: 5px;
      &.active {
        background-color: $color-primary;
        color: #fff;
      }
    }
  }
  .info {
    display: flex;
    align-items: center;
    gap: 5px;
    .profile {
      img {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        border-radius: 50%;
      }
    }
  }
}
