$color-primary: #6c9bcf;
$color-danger: #ff0060;
$color-success: #1b9c85;
$color-warning: #f7d060;
$color-white: #fff;
$color-info-dark: #7d8da1;
$color-dark: #363949;
$color-light: rgba(132, 139, 200, 0.18);
$color-dark-variant: #677483;
$color-background: #f6f6f9;

$card-border-radius: 2rem;
$border-radius-1: 0.4rem;
$border-radius-2: 1.2rem;

$card-padding: 1.8rem;
$padding-1: 1.2rem;

$box-shadow: 0 2rem 3rem $color-light;

$color-dark-background: #181a1e;
$color-dark-white: #202528;
$color-dark-dark: #edeffd;
$color-dark-dark-variant: #a3bdcc;
$color-dark-light: rgba(0, 0, 0, 0.4);
$box-dark-shadow: 0 2rem 3rem $color-dark-light;

[data-theme="dark"] {
  $color-background: $color-dark-background;
  $color-white: $color-dark-white;
  $color-dark: $color-dark-dark;
  $color-dark-variant: $color-dark-dark-variant;
  $color-light: $color-dark-light;
  $box-shadow: 0 2rem 3rem $color-dark-light;
}

$size-mobile: 425px;
$size-tablet: 768px;
$size-laptop: 1024px;
$size-laptop-full: 1440px;
