<article class="analytics">
  <h1>Analíticas</h1>
  <div class="analyse">
    <div class="card card-padding sales">
      <div class="status">
        <div class="info">
          <h3>Ingresos de hoy</h3>
          <h1>Bs. 624</h1>
        </div>
        <div class="progress">
          <svg>
            <circle cx="38" cy="38" r="36" class="stroke-success"></circle>
          </svg>
        </div>
      </div>
    </div>
    <div class="card card-padding visits">
      <div class="status">
        <div class="info">
          <h3>Asistencias</h3>
          <h1>24</h1>
        </div>
        <div class="progress">
          <svg>
            <circle cx="38" cy="38" r="36" class="stroke-danger"></circle>
          </svg>
        </div>
      </div>
    </div>
    <div class="card card-padding searches">
      <div class="status">
        <div class="info">
          <h3>Nuevos este Mes</h3>
          <h1>14</h1>
        </div>
        <div class="progress">
          <svg>
            <circle cx="38" cy="38" r="36" class="stroke-primary"></circle>
          </svg>
        </div>
      </div>
    </div>
  </div>
</article>

<article class="users">
  <h1>Nuevos clientes</h1>
  <div class="card card-padding">
    <div class="new-users">
      <div class="user-list">
        <div class="user">
          <h2>Jack</h2>
          <p>54 Min Ago</p>
        </div>
        <div class="user">
          <h2>Amir</h2>
          <p>3 Hours Ago</p>
        </div>
        <div class="user">
          <h2>Ember</h2>
          <p>6 Hours Ago</p>
        </div>
        <div class="user">
          <!-- <img src="images/plus.png" /> -->
          <span class="material-icons-outlined"> add </span>
          <h2>More</h2>
          <p>New User</p>
        </div>
      </div>
    </div>
  </div>
</article>

<article class="actions-day">
  <div class="action">
    <h1>Últimos movimientos</h1>
    <div class="card card-padding">
      <div class="recent-orders">
        <table>
          <thead>
            <tr>
              <th>Persona</th>
              <th>Detalles</th>
              <!-- <th>Acciones</th> -->
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <!-- <a href="#">Show All</a> -->
      </div>
    </div>
  </div>
  <div class="action">
    <h1>Marcar asistencia</h1>
    <div class="card card-padding">
      <button type="button" class="btn btn-primary">
        <span class="material-icons-outlined"> qr_code </span>
        <p>Escanear Tarjeta</p></button
      ><button type="button" class="btn btn-primary">
        <span class="material-icons-outlined"> person_search </span>
        <p>Marcar manual</p>
      </button>
    </div>
  </div>
  <div class="action">
    <h1>Recordatorios</h1>
    <div class="notification card">
      <div class="icon">
        <span class="material-icons-outlined"> volume_up </span>
      </div>
      <div class="content">
        <div class="info">
          <h3>Workshop</h3>
          <small class="text_muted"> 08:00 AM - 12:00 PM </small>
        </div>
        <span class="material-icons-outlined"> more_vert </span>
      </div>
    </div>

    <div class="notification card deactive">
      <div class="icon">
        <span class="material-icons-outlined"> edit </span>
      </div>
      <div class="content">
        <div class="info">
          <h3>Workshop</h3>
          <small class="text_muted"> 08:00 AM - 12:00 PM </small>
        </div>
        <span class="material-icons-outlined"> more_vert </span>
      </div>
    </div>

    <div class="notification card add-reminder">
      <div>
        <span class="material-icons-outlined"> add </span>
        <h3>Add Reminder</h3>
      </div>
    </div>
  </div>
</article>
