@import "../../../shared/_variables.scss";

article {
  h1 {
    margin-top: 1.3rem;
  }
  .analyse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    & > div .status {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    h3 {
      margin-left: 0.6rem;
      font-size: 1rem;
    }
    .progress {
      position: relative;
      width: 92px;
      height: 92px;
      border-radius: 50%;
    }

    svg {
      width: 7rem;
      height: 7rem;
      circle {
        fill: none;
        stroke-width: 10;
        stroke-linecap: round;
        transform: translate(5px, 5px);
        stroke-dashoffset: -30;
        stroke-dasharray: 200;
        &.stroke-success {
          stroke: $color-success;
        }
        &.stroke-danger {
          stroke: $color-danger;
        }
        &.stroke-primary {
          stroke: $color-primary;
        }
      }
    }
  }
}

article.users {
  .new-users {
    margin-top: 1.3rem;
    .user-list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 1.4rem;
      transition: all 0.3s ease;
      .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}

article.actions-day {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  .recent-orders {
    a {
      text-align: center;
      display: block;
      margin: 1rem auto;
      color: $color-primary;
    }
    table {
      width: 100%;
      text-align: center;
      transition: all 0.3s ease;
      tbody td {
        height: 2.8rem;
        border-bottom: 1px solid $color-light;
        color: $color-dark-variant;
      }
      tbody tr:last-child td {
        border: none;
      }
    }
  }

  .notification {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem $card-padding;
    transition: all 0.3s ease;
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      width: 100%;
    }

    .icon {
      padding: 0.6rem;
      color: $color-white;
      background-color: $color-success;
      border-radius: 20%;
      display: flex;
    }
    &.add-reminder {
      border: 2px dashed $color-primary;
      color: $color-primary;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background-color: $color-primary;
        color: white;
      }
      div {
        display: flex;
        align-items: center;
        gap: 0.6rem;
      }
    }
  }
}
