<aside [ngClass]="{ 'active-sidebar': toggleSidebar.toggleValue | async }">
  <!-- <div class="toggle">
    <div class="close" id="close-btn">
      <span class="material-icons-outlined"> close </span>
    </div>
    <div class="close" id="close-btn">
      <span class="material-icons-outlined"> bar </span>
    </div>
  </div> -->

  <div class="sidebar card">
    <a [routerLink]="['/inicio']" routerLinkActive="active">
      <span class="material-icons-outlined"> dashboard </span>
      <h3>Inicio</h3>
    </a>
    <a [routerLink]="['/inicio', 'usuarios']" routerLinkActive="active">
      <span class="material-icons-outlined"> person_outline </span>
      <h3>Usuarios</h3>
    </a>
    <a [routerLink]="['/inicio', 'pagos']" routerLinkActive="active">
      <span class="material-icons-outlined"> receipt_long </span>
      <h3>Pagos</h3>
    </a>
    <a [routerLink]="['/inicio', 'ventas']" routerLinkActive="active">
      <span class="material-icons-outlined"> point_of_sale </span>
      <h3>Ventas</h3>
    </a>
    <a [routerLink]="['/inicio', 'reportes']" routerLinkActive="active">
      <span class="material-icons-outlined"> insights </span>
      <h3>Reportes</h3>
    </a>
    <a [routerLink]="['/inicio', 'inventario']" routerLinkActive="active">
      <span class="material-icons-outlined"> inventory </span>
      <h3>Inventario</h3>
    </a>
    <a [routerLink]="['/inicio', 'configuración']" routerLinkActive="active">
      <span class="material-icons-outlined"> settings </span>
      <h3>Configuración</h3>
    </a>
    <a (click)="logoutUser()">
      <span class="material-icons-outlined"> logout </span>
      <h3>Logout</h3>
    </a>
  </div>
</aside>
