@import "../../../shared/_variables";

aside {
  width: 100%;
  max-width: 330px;
  position: fixed;
  left: -330px;
  height: 100vh;
  padding-left: 30px;
  transition: left 300ms ease-out;
  &.active-sidebar {
    left: 0;
    transition: left 300ms ease-in;
  }
}

// aside .toggle {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin-top: 1.4rem;
// }

// aside .toggle .logo {
//   display: flex;
//   gap: 0.5rem;
// }

// aside .toggle .logo img {
//   width: 2rem;
//   height: 2rem;
// }

// aside .toggle .close {
//   padding-right: 1rem;
//   display: none;
// }

aside {
  .sidebar {
    display: flex;
    flex-direction: column;
    height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
    a {
      display: flex;
      align-items: center;
      color: $color-info-dark;
      height: 3.7rem;
      gap: 1rem;
      position: relative;
      margin-left: 2rem;
      transition: all 0.3s ease;
      &:last-child {
        position: absolute;
        bottom: 2rem;
        width: 100%;
      }
      &:hover {
        color: $color-primary;
        span {
          margin-left: 0.6rem;
        }
      }

      &.active {
        width: 100%;
        color: $color-primary;
        background-color: $color-light;
        margin-left: 0;
        span {
          color: $color-primary;
          margin-left: calc(1rem - 3px);
        }
      }
      &.active::before {
        content: "";
        width: 6px;
        height: 18px;
        background-color: $color-primary;
      }

      span {
        font-size: 1.6rem;
        transition: all 0.3s ease;
      }
    }
    .message-count {
      background-color: $color-danger;
      padding: 2px 6px;
      color: $color-white;
      font-size: 11px !important;
      border-radius: $border-radius-1;
    }
  }
}
