<section id="signup">
  <div class="card card-padding">
    <img src="/assets/logo.png" alt="Logo empresa" />
    <h1>Bienvenido</h1>
    <form
      class="form-auth"
      [formGroup]="signupForm"
      (ngSubmit)="registerUser()"
    >
      <div class="form-controls">
        <div class="form-control">
          <input
            type="text"
            name="name"
            placeholder="Nombre completo"
            formControlName="name"
            [ngClass]="{
              'form-control-err': _formValidation.errorFormForValue('name')
            }"
          />
          <label for="name">Nombre completo</label>
          <small id="name" *ngIf="_formValidation.errorFormForValue('name')"
            >Es Obligatorio este campo.
          </small>
        </div>
        <div class="form-control">
          <input
            type="tel"
            name="cellphone"
            placeholder="Numero de contacto"
            formControlName="cellphone"
            [ngClass]="{
              'form-control-err': _formValidation.errorFormForValue('cellphone')
            }"
          />
          <label for="cellphone">Numero de contacto</label>
          <small
            id="cellphone"
            *ngIf="_formValidation.errorFormForValue('cellphone')"
            >Es Obligatorio este campo.
          </small>
        </div>
        <div class="form-control">
          <input
            type="email"
            name="email"
            placeholder="Correo"
            formControlName="email"
            [ngClass]="{
              'form-control-err': _formValidation.errorFormForValue('email')
            }"
          />
          <label for="email">Correo</label>
          <small id="email" *ngIf="_formValidation.errorFormForValue('email')"
            >Es Obligatorio este campo.
          </small>
        </div>
        <div class="form-control">
          <input
            type="password"
            name="password"
            placeholder="Contraseña"
            formControlName="password"
            [ngClass]="{
              'form-control-err': _formValidation.errorFormForValue('password')
            }"
          />
          <label for="password">Contraseña</label>
          <small
            id="password"
            *ngIf="_formValidation.errorFormForValue('password')"
            >Es Obligatorio este campo.
          </small>
        </div>
        <div class="form-control">
          <input
            type="text"
            name="business"
            placeholder="Nombre de empresa"
            formControlName="business"
            [ngClass]="{
              'form-control-err': _formValidation.errorFormForValue('business')
            }"
          />
          <label for="business">Nombre de empresa</label>
          <small
            id="business"
            *ngIf="_formValidation.errorFormForValue('business')"
            >Es Obligatorio este campo.
          </small>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
  </div>
</section>
