@import "../../../shared/_variables.scss";

#signup {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  .card {
    width: 40vw;
    @media screen and (max-width: ($size-mobile - 1px)) {
      width: 90vw;
    }
    @media screen and (min-width: $size-mobile) and (max-width: ($size-tablet - 1px)) {
      width: 85vw;
    }
    @media screen and (min-width: $size-tablet) and (max-width: $size-laptop) {
      width: 60vw;
    }
    @media screen and (min-width: ($size-laptop-full)) {
      width: 35vw;
    }
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
      width: 65%;
    }
    h1 {
      text-align: center;
      text-transform: uppercase;
    }
  }
  .form-auth {
    width: 100%;
    margin: auto;
    .form-controls {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 1.8rem;
      @media screen and (max-width: 425px) {
        grid-template-columns: 1fr;
      }
    }
    button {
      width: 60%;
      margin: auto;
    }
  }
}
