@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "./app/shared/_variables";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: $color-dark;
  background-color: $color-background;
}

a {
  color: $color-dark;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.4rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}

p {
  color: $color-dark-variant;
}

b {
  color: $color-dark;
}

.text-muted {
  color: $color-info-dark;
}

.primary {
  color: $color-primary;
}

.danger {
  color: $color-danger;
}

.success {
  color: $color-success;
}

.warning {
  color: $color-warning;
}

// .container {
//   display: grid;
//   width: 96%;
//   margin: 0 auto;
//   gap: 1.8rem;
//   grid-template-columns: 12rem auto 23rem;
// }

.card {
  box-shadow: $box-shadow;
  background-color: $color-white;
  border-radius: 15px;
  transition: all 300ms ease-in-out;
  &:hover {
    box-shadow: none;
  }
  &.card-padding {
    padding: $card-padding;
  }
}

.active-sidebar-content {
  left: 360px !important;
  transition: left 300ms ease-in !important;
}

button {
  transition: all 300ms ease-in-out;
  &.btn {
    width: 100%;
    padding: 20px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
    &:hover {
      box-shadow: 0 0 2rem $color-light;
    }
    &:active {
      transform: scale(0.9);
    }
    &.btn-primary {
      background-color: $color-primary;
      color: $color-white;
      & > * {
        color: $color-white;
      }
      &:hover {
        background-color: rgba($color: $color-primary, $alpha: 0.9);
      }
      &:active {
        background-color: rgba($color: $color-primary, $alpha: 0.5);
      }
    }
  }
}

.form-control {
  position: relative;
  margin: 20px 0 30px;
  background-color: white;

  input,
  select,
  textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 1px $color-dark solid;
    font-size: 1rem;
    width: 100%;
    padding: 10px 0;
    transition: border-color 0.15s ease-in-out;

    &:focus,
    &:not(:placeholder-shown) {
      border-color: rgba($color: $color-dark, $alpha: 0.2);
    }

    &::placeholder {
      position: absolute;
      font-size: 16px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      padding: 0 1rem;
      color: rgba($color: $color-dark, $alpha: 0.01);
      transition: transform 0.15s ease-in-out, color 0.15s ease-in-out;

      &:focus,
      &:not(:placeholder-shown) {
        transform: translateY(-100%);
        color: transparent;
      }
    }

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      transform: translateY(-150%);
      color: rgba($color: $color-dark, $alpha: 0.7);
    }

    &.form-control-err {
      border-bottom: 3px solid $color-danger !important;
      transition: all 250ms ease-in;
      & ~ small {
        color: $color-danger;
      }
    }
  }

  label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 1rem;
    pointer-events: none;
    color: $color-dark;
    transition: transform 0.15s ease-in-out, color 0.15s ease-in-out;
  }

  small {
    position: absolute;
    left: 0;
    bottom: -20px;
  }
}
